body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

p {
  font-size: 30px;
  font-weight: bold;
}
#respuesta {
  font-size: 25px;
  margin: 20px;
}
